$primaryTextColor: #212121;
$secondaryTextColor: #757575;
$whiteColor: #ffffff;
$backgroundHeroColor: #2f303a;
$primaryBackgroundColor: #f5f5f5;
$greyBackgroundColor: #f5f4fa;
$blackColorLogo: #000000;
$accentColor: #2196f3;
$buttonHover: #188ce8;
$buttonShadow: rgba(0, 4, 4, 0.15);
$headerLineColor: #ececec;
$borderColor: #eeeeee;
$iconeColor: #afb1b8;
$socialBottom: rgba(255, 255, 255, 0.1);
$backdropBackground: rgba(0, 0, 0, 0.1);
$backdropDark: rgba(0, 0, 0, 0.2);
$overlayProjectBackground: rgba(33, 150, 243, 0.9);
$overlayProject: rgba(255, 255, 255, 1);
$labelBackground: rgba(47, 48, 58, 0.8);
$inputBorderColor: rgba(33, 33, 33, 0.2);
$formLableColor: rgba(117, 117, 117, 1);
$formTitleColor: rgba(33, 33, 33, 1);
$formTextareaPlaceholderColor: rgba(117, 117, 117, 0.5);
$inutBorderEmail: rgba(255, 255, 255, 0.3);
$inputBorderFocus: rgba(33, 150, 243, 0);
$addressFooterColor: rgba(255, 255, 255, 0.6);
$mobContactsColor: rgba(33, 150, 243, 1);
$heroBackground: rgba(47, 48, 58, 0.4);

