<footer>
    <section class="page-footer">
      <div class="container box">
        <div >
          <a href="./index.html" class="logo"
            >Web<span class="page-footer__logo--accent">Studio</span></a>
          <address class="address">
            <ul class="address-list">
              <li class="address-list__item">
                <a
                  href="https://goo.gl/maps/dma3yoqpKwNtZ73B6"
                  target="_blank"
                  rel="noopener norreferrer"
                  class="address-list__link"
                  >м. Київ, пр-т Лесі Українки, 26</a
                >
              </li>

              <li class="address-list__item">
                <a href="mailto:info@devstudio.com" class="contacts__link address-contacts__link">info@devstudio.com</a>
              </li>
              <li class="address-list">
                <a href="tel:+380961111111" class="contacts__link address-contacts__link">+38 096 111 11 11</a>
              </li>
            </ul>
          </address>
        </div>
        <div class="down-social">
          <p class="down-social__text">приєднуйтесь</p>
          <ul class="networks networks-down">
              <li class="networks__item networks-down__item">
              <a href="#" class="networks__link networks-down__link">
                <svg width="20px" height="20px" class="networks__icon">
                  <use href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>

            <li class="networks__item networks-down__item">
              <a href="#" class="networks__link networks-down__link">
                <svg width="20px" height="20px" class="networks__icon">
                  <use href="./images/symbol-defs.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>

            <li class="networks__item networks-down__item">
              <a href="#" class="networks__link networks-down__link">
                <svg width="20px" height="20px" class="networks__icon">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>

            <li class="networks__item networks-down__item">
              <a href="#" class="networks__link networks-down__link">
                <svg width="20px" height="20px" class="networks__icon">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <form class="subscription">
          <div class="email-subscription">
            <span class="email-subscription__text">Підпишіться на розсилку</span>
            <div class="email-subscription__field">
              <input type="email" class="email-subscription__input" name="email" placeholder="E-mail" />
              <!-- <div class="subscription-send"> -->
              <button type="submit" class="email-subscription__btn">
                Підписатися
                <svg class="email-subscription__icon" width="24px" height="24px">
                  <use href="./images/symbol-defs.svg#icon-send"></use>
                </svg>
              </button>

              <!-- </div>          -->
            </div>
          </div>
        </form>
      </div>
    </section>
  </footer>