<section class="section">
  <div class="works container">
    <h1 class="works-title" hidden>Наші роботи</h1>
    <ul class="filters-list">
      <li class="filters-list__item">
        <button type="button" class="filters-list__btn">Усі</button>
      </li>
      <li class="filters-list__item">
        <button type="button" class="filters-list__btn">Веб-сайти</button>
      </li>
      <li class="filters-list__item">
        <button type="button" class="filters-list__btn">Додатки</button>
      </li>
      <li class="filters-list__item">
        <button type="button" class="filters-list__btn">Дизайн</button>
      </li>
      <li class="filters-list__item">
        <button type="button" class="filters-list__btn">Маркетинг</button>
      </li>
    </ul>

    <div class="container projects-container">
      
      <ul class="projects-list">
        <li class="projects-list__item">
          <a href="#" class="projects-list__link">
            <div class="projects">
              <picture>
                <source
                  srcset="
                    ./images/tech_desk.jpg    1x,
                    ./images/tech_desk@2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./images/tech_tabl.jpg    1x,
                    ./images/tech_tabl@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <img
                  srcset="./images/tech_mob.jpg 1x, ./images/tech_mob@2x.jpg 2x"
                  src="./images/tech_mob.jpg"
                  alt="Технокряк"
                  class="projects__image"
                />
              </picture>

              <div class="projects__overlay">
                <p class="projects__description">
                  Ресурс пропонує комплексні пропозиції з різним рівнем
                  функціоналу та сервісів. Все це дозволить відвідувачу отримати
                  вичерпні відомості про компанію чи приватну особу.
                </p>
              </div>
            </div>
            <div class="projects__caption">
              <h2 class="projects__title">Технокряк</h2>
              <p class="projects__type">Веб-сайт</p>
            </div>
          </a>
        </li>

        <li class="projects-list__item">
          <div class="projects">
            <picture>
              <source
                srcset="./images/ball_desk.jpg 1x, ./images/ball_desk@2x.jpg 2x"
                media="(min-width: 1200px)"
              />
              <source
                srcset="./images/ball_tabl.jpg 1x, ./images/ball_tabl@2x.jpg 2x"
                media="(min-width: 768px)"
              />
              <img
                srcset="./images/ball_mob.jpg 1x, ./images/ball_mob@2x.jpg 2x"
                src="./images/ball_mob.jpg"
                alt="Технокряк"
                class="projects__image"
              />
            </picture>
            

            <div class="projects__overlay">
              <p class="projects__description">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="projects__caption">
            <h2 class="projects__title">
              Постер <span lang="en"> New Orlean vs Golden Star</span>
            </h2>
            <p class="projects__type">Дизайн</p>
          </div>
        </li>

        <li class="projects-list__item">
          <div class="projects">
            <picture>
              <source
                srcset="
                  ./images/seafood_desk.jpg    1x,
                  ./images/seafood_desk@2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/seafood_tabl.jpg    1x,
                  ./images/seafood_tabl@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                srcset="
                  ./images/seafood_mob.jpg    1x,
                  ./images/seafood_mob@2x.jpg 2x
                "
                src="./images/seafood_mob.jpg"
                alt="Емблема ресторану Seafood"
                class="projects__image"
              />
            </picture>

            <div class="projects__overlay">
              <p class="projects__description">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="projects__caption">
            <h2 class="projects__title">Ресторан Seafood</h2>
            <p class="projects__type">Додаток</p>
          </div>
        </li>

        <li class="projects-list__item">
          <div class="projects">
            <picture>
              <source
                srcset="
                  ./images/prime_desk.jpg    1x,
                  ./images/prime_desk@2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/prime_tabl.jpg    1x,
                  ./images/prime_tabl@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                srcset="./images/prime_mob.jpg 1x, ./images/prime_mob@2x.jpg 2x"
                src="./images/prime_mob.jpg"
                alt="Навушники"
                class="projects__image"
              />
            </picture>

            <div class="projects__overlay">
              <p class="projects__description">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="projects__caption">
            <h2 class="projects__title">Проєкт Prime</h2>
            <p class="projects__type">Маркетинг</p>
          </div>
        </li>

        <li class="projects-list__item">
          <div class="projects">
            <picture>
              <source
                srcset="
                  ./images/boxes_desk.jpg    1x,
                  ./images/boxes_desk@2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/boxes_tabl.jpg    1x,
                  ./images/boxes_tabl@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                srcset="./images/boxes_mob.jpg 1x, ./images/boxes_mob@2x.jpg 2x"
                src="./images/boxes_mob.jpg"
                alt="Паперові коробки"
                class="projects__image"
              />
            </picture>
            <div class="projects__overlay">
              <p class="projects__description">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="projects__caption">
            <h2 class="projects__title">Проєкт Boxes</h2>
            <p class="projects__type">Додаток</p>
          </div>
        </li>

        <li class="projects-list__item">
          <div class="projects">
            <picture>
              <source
                srcset="
                  ./images/screen_desk.jpg    1x,
                  ./images/screen_desk@2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/screen_tabl.jpg    1x,
                  ./images/screen_tabl@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                srcset="./images/screen_mob.jpg 1x, ./images/screen_mob@2x.jpg 2x"
                src="./images/screen_mob.jpg"
                alt="Монітор"
                class="projects__image"
              />
            </picture>
            <div class="projects__overlay">
              <p class="projects__description">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="projects__caption">
            <h2 class="projects__title">
              <span lang="en">Inspiration has no Borders</span>
            </h2>
            <p class="projects__type">Веб-сайт</p>
          </div>
        </li>

        <li class="projects-list__item">
          <div class="projects">
            <picture>
              <source
                srcset="
                  ./images/magazine_desk.jpg    1x,
                  ./images/magazine_desk@2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/magazine_tabl.jpg    1x,
                  ./images/magazine_tabl@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                srcset="./images/magazine_mob.jpg 1x, ./images/magazine_mob@2x.jpg 2x"
                src="./images/magazine_mob.jpg"
                alt="Відкритий журнал"
                class="projects__image"
              />
            </picture>
            <div class="projects__overlay">
              <p class="projects__description">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="projects__caption">
            <h2 class="projects__title">
              Видання <span lang="en">Limited Edition</span>
            </h2>
            <p class="projects__type">Дизайн</p>
          </div>
        </li>

        <li class="projects-list__item">
          <div class="projects">
            <picture>
              <source
                srcset="
                  ./images/lab_desk.jpg    1x,
                  ./images/lab_desk@2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/lab_tabl.jpg    1x,
                  ./images/lab_tabl@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                srcset="./images/lab_mob.jpg 1x, ./images/lab_mob@2x.jpg 2x"
                src="./images/lab_mob.jpg"
                alt="Бірка на ниточці"
                class="projects__image"
              />
            </picture>
            <div class="projects__overlay">
              <p class="projects__description">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="projects__caption">
            <h2 class="projects__title">Проєкт <span lang="en"> LAB</span></h2>
            <p class="projects__type">Маркетинг</p>
          </div>
        </li>

        <li class="projects-list__item">
          <div class="projects">
            <picture>
              <source
                srcset="
                  ./images/laptop_desk.jpg    1x,
                  ./images/laptop_desk@2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/laptop_tabl.jpg    1x,
                  ./images/laptop_tabl@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                srcset="./images/laptop_mob.jpg 1x, ./images/laptop_mob@2x.jpg 2x"
                src="./images/laptop_mob.jpg"
                alt="Ноутбук"
                class="projects__image"
              />
            </picture>
            <div class="projects__overlay">
              <p class="projects__description">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="projects__caption">
            <h2 class="projects__title">
              <span lang="en">Growing Business</span>
            </h2>
            <p class="projects__type">Додаток</p>
          </div>
        </li>
      </ul>

    </div>
  </div>
</section>
