<section class="section no-top-padding">
    <div class="activity container">
      <h2 class="section-title">Чим ми займаємося</h2>
      <ul class="activity-list">
        <li class="activity-list__item">
          <img src="./images/key.jpg" alt="Набор на клавіатурі" width="370" height="294" />
          <div class="activity-list__label">
            <p>Десктопні додатки</p>
          </div>
        </li>
        <li class="activity-list__item">
          <img src="./images/smart.jpg" alt="Смартфон в руці" width="370" height="294" />
          <div class="activity-list__label">
            <p>Мобільні додатки</p>
          </div>
        </li>
        <li class="activity-list__item">
          <img src="./images/ipad.jpg" alt="Айпад з зображенням" width="370" height="294" />
          <div class="activity-list__label">
            <p>Дизайнерські рішення</p>
          </div>
        </li>
      </ul>
    </div>
  </section>