<section class="section no-top-padding">
    <div class="activity container">
      <h2 class="section-title">Чим ми займаємося</h2>
      <ul class="activity-list">
        <li class="activity-list__item">
          <img srcset="./images/app_desk.jpg 1x, ./images/app_desk@2x.jpg 2x" src="./images/app_desk.jpg" alt="Набор на клавіатурі" />
          <div class="activity-list__label">
            <p>Десктопні додатки</p>
          </div>
        </li>
        <li class="activity-list__item">
          <img srcset="./images/smart_desk.jpg 1x, ./images/smart_desk@2x.jpg 2x" src="./images/smart_desk.jpg" alt="Смартфон в руці" />
          <div class="activity-list__label">
            <p>Мобільні додатки</p>
          </div>
        </li>
        <li class="activity-list__item">
          <img srcset="./images/ipad_desk.jpg 1x, ./images/ipad_desk@2x.jpg 2x" src="./images/ipad_desk.jpg " alt="Айпад з зображенням"  />
          <div class="activity-list__label">
            <p>Дизайнерські рішення</p>
          </div>
        </li>
      </ul>
    </div>
  </section>