<section class="section">
    <div class="container">
      <h2 hidden class="section-title">Особливості</h2>
      <ul class="features-list">
        <li class="features-list__item">
          <div class="features-list__card">
            <svg class="features-list__icon">
              <use href="./images/symbol-defs.svg#icon-antenna"></use>
            </svg>
          </div>
          <h3 class="features-list__title">УВАГА ДО ДЕТАЛЕЙ</h3>
          <p>Ідейні міркування, і навіть початок повсякденної роботи з формування позиції.</p>
        </li>

        <li class="features-list__item">
          <div class="features-list__card">
            <svg class="features-list__icon">
              <use href="./images/symbol-defs.svg#icon-clock"></use>
            </svg>
          </div>
          <h3 class="features-list__title">ПУНКТУАЛЬНІСТЬ</h3>
          <p>Завдання організації, особливо рамки і місце навчання кадрів тягне у себе.</p>
        </li>

        <li class="features-list__item">
          <div class="features-list__card">
            <svg class="features-list__icon">
              <use href="./images/symbol-defs.svg#icon-diagram"></use>
            </svg>
          </div>
          <h3 class="features-list__title">ПЛАНУВАННЯ</h3>
          <p>Так само консультація з широким активом значною мірою зумовлює.</p>
        </li>

        <li class="features-list__item">
          <div class="features-list__card">
            <svg class="features-list__icon">
              <use href="./images/symbol-defs.svg#icon-astronaut"></use>
            </svg>
          </div>
          <h3 class="features-list__title">СУЧАСНІ ТЕХНОЛОГІЇ</h3>
          <p>Значимість цих проблем настільки очевидна, що реалізація планових завдань.</p>
        </li>
      </ul>
    </div>
  </section>