<section class="section">
    <div class="customers container">
      <h2 class="section-title">Постійні клієнти</h2>
      <ul class="customers-list">
        <li class="customers-list__item">
          <a class="customers-list__logo" href="#">
            <svg class="customers-list__icon">
              <use href="./images/symbol-defs.svg#icon-Logo_ya"></use>
            </svg>
          </a>
        </li>

        <li class="customers-list__item">
          <a class="customers-list__logo" href="#">
            <svg class="customers-list__icon">
              <use href="./images/symbol-defs.svg#icon-Logo_here"></use>
            </svg>
          </a>
        </li>

        <li class="customers-list__item">
          <a class="customers-list__logo" href="#">
            <svg class="customers-list__icon">
              <use href="./images/symbol-defs.svg#icon-Logo_company"></use>
            </svg>
          </a>
        </li>

        <li class="customers-list__item">
          <a class="customers-list__logo" href="#">
            <svg class="customers-list__icon">
              <use href="./images/symbol-defs.svg#icon-Logo_foster"></use>
            </svg>
          </a>
        </li>

        <li class="customers-list__item">
          <a class="customers-list__logo" href="#">
            <svg class="customers-list__icon">
              <use href="./images/symbol-defs.svg#icon-Logo_brand"></use>
            </svg>
          </a>
        </li>

        <li class="customers-list__item">
          <a class="customers-list__logo" href="#">
            <svg class="customers-list__icon">
              <use href="./images/symbol-defs.svg#icon-Logo_tagline"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </section>