.logo {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    color: $accentColor;
    text-decoration: none;

    &--accent {
        color: $blackColorLogo;
    }
  }
  