.networks {
    display: flex;
    list-style: none;
    // margin-top: 0;
    // margin-bottom: 0;
    padding-left: 0;
    justify-content: center;
    gap: 10px;

    &__item {
        margin-top: 16px;
        margin-left: 0;
        align-items: center;
        text-decoration: none;
      }
      
    &__link{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        color: $iconeColor;
        border-radius: 50%;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
          background-color: $accentColor;
          color: $whiteColor;
        }
      }
      
    &__icon {
        fill: currentColor;
      }
         
  }
