.down-social {
//   margin-top: 60px;
//   @media screen and (min-width: px) {
//      margin-top: 0;

// }
   
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: column;
        // width: 206px;
        height: 80px;
        margin-top: 12px;

        margin-right: 94px;
        // margin-bottom: 99px;
    }
        
    &__text {
    font-weight: 700;
    line-height: 1.14;
    color: $overlayProject;
    text-transform: uppercase;
  }
}

.networks-down {
  @extend .networks;
  padding: 0;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 60;

  &__item {
    @extend .networks__item;
    margin-top: 0;
  }

  &__link {
    @extend .networks__link;
    color: $whiteColor;
    background-color: $socialBottom;

    &:hover,
    &:focus {
      background-color: $accentColor;
      color: $whiteColor;
    }
  }
}
