.page-footer {
    // @extend %section;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $backgroundHeroColor;
}
.box {
    // @extend %container;
    // display: flex;
    align-content: center;
    text-align: center;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        
        // margin-left: 76px;
    }
    @media screen and (min-width: 1200px) {
        justify-content: space-between;
        text-align: start;
        // display: flex;
        // max-width: 1200px;
    }
}
// .logo {
//     @extend .logo;
     
    // @media screen and (min-width: 768px) {
    //     margin-left: 115px;
        
    // }

// .page-footer__logo--accent {
//     color: $whiteColor;
//   }

